<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hirezy.ft_search" >


    <application >
        <activity android:name="com.hirezy.ft_search.ui.activity.SearchActivity"
               android:windowSoftInputMode="stateVisible|adjustPan"
            />
    </application>

</manifest>
